
swe444/.dart_tool/package_config.json
swe444/.dart_tool/package_config_subset
swe444/.flutter-plugins
swe444/.idea/libraries/Dart_Packages.xml
swe444/.idea/libraries/Dart_Packages.xml
swe444/.idea/libraries/Flutter_Plugins.xml
swe444/.idea/swe444.iml
swe444/.packages
swe444/.flutter-plugins-dependencies
swe444/.idea
swe444/.dart_tool
swe444/.flutter-plugins-dependencies
