<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>510713853428-qghs3pi619192nkk2vqvanjn2br7dr2k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.510713853428-qghs3pi619192nkk2vqvanjn2br7dr2k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>510713853428-t7f38rb7s2sspin6kuqifoq5nmovsaum.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDukZ_141IU1frfcH7MDIC32wr3OETGwBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>510713853428</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.swe444</string>
	<key>PROJECT_ID</key>
	<string>imdad-ef4f3</string>
	<key>STORAGE_BUCKET</key>
	<string>imdad-ef4f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510713853428:ios:102a34a3b1d91c9b0d75a1</string>
</dict>
</plist>